<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TBS_CGI_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/Error</location>
  </error-page>
  <servlet>
    <description>Servlet For Logging into TBS Survey</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tbs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAppletServlet</display-name>
    <servlet-name>StudentAppletServlet</servlet-name>
    <servlet-class>com.tbs.servlet.StudentAppletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAppletServlet</servlet-name>
    <url-pattern>/StudentApplet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAppletServlet</display-name>
    <servlet-name>AdminAppletServlet</servlet-name>
    <servlet-class>com.tbs.servlet.AdminAppletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAppletServlet</servlet-name>
    <url-pattern>/AdminApplet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidationServlet</display-name>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>com.tbs.servlet.ValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitSurveyServlet</display-name>
    <servlet-name>SubmitSurveyServlet</servlet-name>
    <servlet-class>com.tbs.servlet.SubmitSurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitSurveyServlet</servlet-name>
    <url-pattern>/SubmitSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateServlet</display-name>
    <servlet-name>InvalidateServlet</servlet-name>
    <servlet-class>com.tbs.servlet.InvalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.tbs.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
</web-app>